VITE_API_URL=https://resolvedesk-ai.onrender.com/api
VITE_SOCKET_URL=https://resolvedesk-ai.onrender.com
VITE_GOOGLE_CLIENT_ID=263358758822-319m1p38k3ns8fdhcdfs32711kqp3qfa.apps.googleusercontent.com
