PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/deskflowdb?retryWrites=true&w=majority
JWT_SECRET=super_secret_enterprise_jwt_key
GEMINI_API_KEY=your_gemini_api_key_here
AI_ENGINE_URL=http://127.0.0.1:8000
NODE_ENV=production
CLIENT_ORIGIN=*
FRONTEND_URL=https://resolve-desk-ai.vercel.app

# Google OAuth Credentials
GOOGLE_CLIENT_ID=263358758822-319m1p38k3ns8fdhcdfs32711kqp3qfa.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
